<div class="parallax-container">
  <div class="background">
      <div class="container center url-container">
            <div class="row s12 m4 l8">
                <%= form_for @dd do |f| %>
                <div class="input-field">
                  <!-- <input value="Alvin" name="full_url" id="full_url" type="text" class="validate"> -->
                  <%= f.text_field :full_url, required: true %>
                </div>
                <div class="row">
                  <!-- <button class="btn waves-effect waves-light" type="submit">Make Shortr
                  </button> -->
                  <%= f.submit "Make Shortr ",
		class: "btn waves-effect waves-light btn-medium brand-bg white-text regular-text" %>
                </div>
              <% end %>
            </div>
            <div class="row s12 m4 l8 short-url">
              <a href="<%= flash[:success] %>"><%= flash[:success] %></a>
            </div>
      </div>
  </div>

</div>

<div class="row">
  <div class="col s12 m6 l4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Popular URLs</span>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
  </div>
</div>

  <div class="col s12 m6 l4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Recent URLs</span>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
  </div>
</div>


  <div class="col s12 m6 l4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Top Users</span>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
    </div>
  </div>
</div>


</div>
