
  <div class="fullbody">
      <div class="container center url-container">
              <%=  render "welcome/home_page_short_form" %>
            <div class="row s12 m4 l8 short-url">
              <a href="<%= flash[:success] %>"><%= flash[:success] %></a>
            </div>
      </div>


</div>

<div class="row">
  <div class="col s12 m6 l4">
    <%= render "welcome/most_popular" %>
</div>

  <div class="col s12 m6 l4">
    <%= render "welcome/recent_links" %>
</div>


  <div class="col s12 m6 l4">
    <%= render "welcome/top_users" %>
</div>
  </div>
