<!DOCTYPE html>
<html>
<head>
  <title>Shortr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <%= render "welcome/header" %>
  <% if notice %>
   <p>
     Materialize.toast("<%= notice %>", 4000)
   </p>
  <% end %>
  <%= yield %>
  <%= render "welcome/footer" %>
</body>
</html>
